* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: #4ADFCC;
}

blockquote {
    border-left: none
}

.quote-badge {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.2);
}

.quote-box {

    overflow: hidden;
    margin-top: 50px;
    padding-top: -25px;
    border-radius: 17px;
    background-color: #4ADFCC;
    color: white;
    width: 700px;
    box-shadow: 1px #E0E0E0;

}

.quotation-mark {

    margin-top: 10px;
    font-weight: bold;
    font-size: 100px;
    color: white;
    font-family: "Times New Roman", Times, Serif;

}

.quote-text {

    font-size: 19px;
    margin-top: -50px;
}

.blog-post-bottom pull-right {}





@media (max-width: 300px) {
    .quote-box {

        overflow: hidden;
        margin-top: 50px;
        padding-top: -25px;
        border-radius: 10px;

        color: white;
        max-width: 500px;
        box-shadow: 1px #E0E0E0;

    }

    .quotation-mark {

        margin-top: 10px;
        font-weight: bold;
        font-size: 100px;
        color: white;
        font-family: "Times New Roman", Times, Serif;

    }

    .quote-text {

        font-size: 19px;
        margin-top: -50px;
    }


}

